* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("./background.jpg");
  background-size: cover;
}

h1 {
  color: white;
}

#search-button {
  color: white;
  border-radius: 8px;
  border: 1px solid grey;
  width: 35rem;
  height: 3rem;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: transparent;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 2rem;
}

#nav-button {
  padding: 0.5rem 1.4rem;
  border: navajowhite;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
}

#nav-button:hover {
  background-color: purple;
}

#save-button {
  width: 10rem;
  height: 2.5rem;
  border: navajowhite;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
}

#save-button:hover {
  background-color: purple;
}

#create-note {
  width: 30rem;
  height: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  gap: 1.2rem;
  color: purple;
}

#title {
  width: 80%;
  height: 4rem;
  border: none;
  padding: 0.8rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background: transparent;
  border: 1px solid white;
  color: white;
}

#desc {
  color: white;
  width: 80%;
  height: 8rem;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  border: 1px solid white;
  background: transparent;
}

#remove-button {
  padding: 0.4rem 0.5rem;
  border-radius: 8px;
  border: none;
  background-color: green;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

#remove-button:hover {
  background-color: purple;
}

#notes-container {
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 14rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
  border-radius: 20px;
  color: white;
  margin: 1rem;
  gap: 1rem;
  text-transform: lowercase;
  background-image: url("./background.jpg");
}

i{
    color: red;
    font-size: 2rem;
}

i:hover{
    color: purple;
    
}
.button-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
    width: 55%;
}


button{
    margin: auto;
    background-color: transparent;
    border: none;
    margin: 0.2rem;
}

@media only screen and (max-width: 720px) {

  #search-button{
    width: 70%;
    font-size: 150%;
    text-align: center;
  }
  
  #create-note{
    width: 100%;
  }

  .card-container{
    width: 40%;
  }

  #nav-button{
    width: 100%;
    height: 80%;
    font-size: 100%;
    text-align: center;
    margin-left: 20%;
  }
  h1{
    margin-top:  1%;
    font-size: 120%;
    text-align: left;
  }

}
